@model AccountSettingsViewModel
@{
    ViewData["Title"] = "AccountSetting";
    Layout = "~/Views/Shared/_TrendyolLayout.cshtml";
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

 <style>
        /* Modal styles */
        .modal-bottom-right.modal {
            position: fixed;
            z-index: 1050;
            right: 20px;
            bottom: 20px;
            top: auto;
            margin: 0;
        }

        .modal-bottom-right .modal-dialog {
            margin: 0;
            min-height: calc(100% - 40px);
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
        }

        .modal-bottom-right .modal-content {
            border-radius: 0;
            height: 400px; /* Increased height */
            background-color: darkorange; /* Theme color */
            color: #fff; /* Text color */
        }

        .modal-bottom-right .modal-body {
            flex: 1 1 auto;
            padding: 10px;
            overflow-y: auto;
        }

        .modal-bottom-right .modal-footer {
            border-top: none;
        }

        /* Chatbox styles */
        .chatbox {
            width: 300px;
            border: 1px solid #ccc;
            border-radius: 4px;
            background-color: #f8f8f8;
            overflow: hidden;
        }

        .chatbox-header {
            padding: 10px;
            background-color: #f2f2f2;
            border-bottom: 1px solid #ccc;
        }

        .chatbox-body {
            padding: 10px;
            height: 300px;
            overflow-y: auto;
        }

        .chatbox-footer {
            padding: 10px;
            border-top: 1px solid #ccc;
        }

        /* Right-aligned messages */
        .chat-message-right {
            text-align: right;
        }
    </style>
    
    @{
        string a;


    }
    <input type="hidden" value="
     @ViewBag.state" id="input" />
<div class=" my-3">

    <div class="row">


        <div style="margin-left:-90px;" class="col-sm-2  ">

            <div style="width: 210px; height: 40px;border: 1px solid; color: lightslategrey;border-radius: 10px;"
                 class="  overflow-hidden d-flex align-items-center justify-content-center my-2 mx-2 ">
                <div class="row text-dark fw-medium" style="">@Model.Email</div>
        
            </div>


            <div class="container  mt-4">



                <div class="card overflow-auto" style="width: 210px; height: 500px;">


                    <div class="accordion overflow-scroll" style="width: 100%; height: 100%;"
                         id="accordionPanelsStayOpenExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                                <button class="accordion-button bg-transparent" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne"
                                        aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                                    Siparişlerim
                                </button>
                            </h2>
                            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
                                 aria-labelledby="panelsStayOpen-headingOne">
                                <div class="accordion-body d-flex flex-column ">
                                    <a class="text-muted text-decoration-none" href="">
                                        <i class="fas fa-box"></i><span style="font-size: small;">
                                            Tüm
                                            Siparişlerim
                                        </span>
                                    </a>
                                    <a class="text-muted text-decoration-none" href="">
                                        <i class="fas fa-walkie-talkie"></i> <span style="font-size: small;">Değerlendirmelerim</span>
                                    </a>
                                    <a class="text-muted text-decoration-none" href="">
                                        <i class="fa-regular fa-message"></i><span style="font-size: small;">
                                            Satıcı
                                            Mesajlarım
                                        </span>
                                    </a>
                                    <a class="text-muted text-decoration-none" href="">
                                        <i class="fas fa-bag-shopping"></i><span style="font-size: small;">
                                            Tekrar
                                            Satın Al
                                        </span>
                                    </a>

                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                                        aria-controls="panelsStayOpen-collapseTwo">
                                    Sana Özel
                                </button>
                            </h2>
                            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
                                 aria-labelledby="panelsStayOpen-headingTwo">
                                <div class="accordion-body  d-flex flex-column">
                                    <a class="text-muted text-decoration-none" href="">
                                        <i class="fas fa-tag"></i><span style="font-size: small;">
                                            İndirim
                                            Kuponlarım
                                        </span>
                                    </a>
                                    <a class="text-muted text-decoration-none" href="">
                                        <i class="fas fa-gift"></i>
                                        <span style="font-size: small;">Şanslı Çekiliş</span>
                                    </a>
                                    <a class="text-muted text-decoration-none" href="">
                                        <i class="fa-regular fa-clock"></i><span style="font-size: small;">
                                            Önceden
                                            Gezdiklerim
                                        </span>
                                    </a>
                                    <a class="text-muted text-decoration-none" href="">
                                        <i class="fas fa-store"></i><span style="font-size: small;">
                                            Takip Ettiğim
                                            Mağazalar
                                        </span>
                                    </a>
                                    <a class="text-muted text-decoration-none" href="">
                                        <i class="fas fa-diamond"></i><span style="font-size: small;">
                                            Trendyol
                                            Elite
                                        </span>
                                    </a>
                                    <a class="text-muted text-decoration-none" href="">
                                        <i class="fas fa-wallet"></i><span style="font-size: small;">
                                            Trendyol
                                            Cüzdanım
                                        </span>
                                    </a>

                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                                        aria-controls="panelsStayOpen-collapseThree">
                                    Hesabım & Yardım
                                </button>
                            </h2>
                            <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
                                 aria-labelledby="panelsStayOpen-headingThree">
                                <div class="accordion-body d-flex flex-column">
                                    <a class="text-muted text-decoration-none" href="">
                                        <i class="fas fa-user-alt"></i><span style="font-size: small;">
                                            Kullanıcı
                                            Bilgilerim
                                        </span>
                                    </a>
                                    <a class="text-muted text-decoration-none" href="">
                                        <i class="fas fa-location"></i>
                                        <span style="font-size: small;">Adres Bilgilerim</span>
                                    </a>
                                    <a class="text-muted text-decoration-none" href="">
                                        <i class="fa-regular fa-credit-card"></i><span style="font-size: small;">
                                            Kayıtlı Kartlarım
                                        </span>
                                    </a>
                                    <a class="text-muted text-decoration-none" href="">
                                        <i class="fas fa-bell"></i><span style="font-size: small;">
                                            Duyuru
                                            Tercihlerim
                                        </span>
                                    </a>
                                    <a class="text-muted text-decoration-none" href="">
                                        <i class="fas fa-question-circle"></i><span style="font-size: small;">
                                            Yardım
                                        </span>
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <br />
            <div style="margin-left:35px;" class="container d-flex justify-content-center align-items-center flex-column">
                <button class="btn btn-outline-warning" style="background-color:lightyellow" data-toggle="modal" data-target="#chatModal">
                    <div class="row">
                        <i style="color: darkorange;" class="fas fa-message"></i>
                    </div>
                    <div class="row mx-1" style="color: darkorange;font-size: 100%;">
                        Trendyol Asistan'a Sor
                    </div>
                    <div class="row">
                        <small class="text-muted">7/24 Sorularınızı Cevaplar</small>
                    </div>
                </button>
            </div>

        </div>




        <div style="margin-left:50px;" class="col-sm-10 ">

            <div class="container   my-3 "
                 style="border: 1px solid;border-color: lightgray;border-radius: 10px;min-height: 75px;">

                <div class="row  d-flex flex-row justify-content-between align-items-center mt-2 h-25 ">


                    <div class="col-auto d-flex align-items-center mt-3">

                        <h4> Kullanıcı Bilgilerim</h4>

                    </div>
                    <div class="col-auto">

                        <div class="dropdown" style="border-radius: 10px;">
                            <button class="btn btn-light btn-sm dropdown-toggle" type="button" id="triggerId"
                                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                İşlemler
                            </button>
                            <div class="dropdown-menu" aria-labelledby="triggerId">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-user"></i> Kullanıcı
                                    Bilgilerim
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-lock"></i> Başarılı/Başarısız
                                    Girişler
                                </a>
                                <a class="dropdown-item" href="#"><i class="fas fa-globe"></i> Ülke Değiştir</a>
                                <a class="dropdown-item" href="#"><i class="fas fa-tablet"></i> Hesabı Kapat</a>


                            </div>
                        </div>

                    </div>





                </div>

            </div>



            <div class="container my-4">

                <div class="row">


                    <div class="col">

                        <h6 style="color: darkorange;">Üyelik Bilgilerim</h6>

                        <div class="row justify-content-center align-items-center g-2">
                            <div class="col">
                                <div class="mb-3">
                                    <label for="" class="form-label">Ad</label>
                                    <input type="text" class="form-control" asp-for="Name" id="userinfoname"
                                           aria-describedby="helpId" placeholder="">
                                </div>
                            </div>


                            <div class="col">
                                <div class="mb-3">
                                    <label for="" class="form-label">Soyad</label>
                                    <input type="text" class="form-control" asp-for="Surname" id="userinfolastname"
                                           aria-describedby="helpId" placeholder="">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="mb-3">
                                    <label for="" class="form-label">Email</label>
                                    <input type="text" class="form-control" asp-for="Email" id="userinfoemail"
                                           aria-describedby="helpId" placeholder="">
                                </div>
                            </div>
                        </div>


                        <div class="row d-flex align-items-center justify-content-between">
                            <div class="col-sm-9 ">
                                <div class="mb-3">

                                    <input type="text" class="form-control my-3" asp-for="PhoneNumber" id="userinfomobile"
                                           aria-describedby="helpId" placeholder="Cep Telefonu">
                                </div>

                            </div>
                            <div class="col-sm-3">
                                <button style="color: darkorange; background-color: darkorange;"
                                        class="btn btn-primary text-light">
                                    Güncelle
                                </button>
                            </div>
                        </div>

                        <div class="row justify-content-center align-items-center g-2 my-2">
                            <h6>Doğum Tarihiniz</h6>

                            <div class="col">

                                <form action="">

                                    <div class="mb-3">
                                        <label for="" class="form-label">Gün</label>
                                        <input type="text" class="form-control" name="" id="userinfobirthday"
                                               aria-describedby="helpId" placeholder="">
                                    </div>
                                </form>



                            </div>
                            <div class="col">
                                <div class="mb-3">
                                    <label for="" class="form-label">Ay</label>
                                    <input type="text" class="form-control" name="" id="userinfobirthmonth"
                                           aria-describedby="helpId" placeholder="">
                                </div>
                            </div>
                            <div class="col">
                                <div class="mb-3">
                                    <label for="" class="form-label">Yıl</label>
                                    <input type="text" class="form-control" name="" id="userinfobirthyear"
                                           aria-describedby="helpId" placeholder="">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-9"></div>
                                <div class="col-3">
                                    <button type="submit"
                                            style="color: darkorange;background-color: darkorange;"
                                            class="text-light btn btn-primary">
                                        Güncelle
                                    </button>
                                </div>
                            </div>



                        </div>

                        <div class="row">

                            <form action="">
                                <div class="" role="group" aria-label="">
                                    <input type="radio" class="" name="btnradio" id="btncheck1" autocomplete="off">
                                    <label class="" for="">Kadın</label>

                                    <input type="radio" class="" name="btnradio" id="btncheck2" autocomplete="off">
                                    <label class="" for="">Erkek</label>


                                </div>
                            </form>



                        </div>


                        <div class="row">
                            <div class="d-grid gap-2">
                                <button type="button" name="" id="userinfoupdatebutton"
                                        style="color: darkorange;background-color: darkorange;"
                                        class="btn btn-primary text-light my-2">
                                    Güncelle
                                </button>
                            </div>
                        </div>






                    </div>
                    <div class="col">

                        <h6 style="color: darkorange;">Şifre Güncelleme</h6>

                        <div class="row">
                            <div class="mb-3">
                                <label style="font-weight: bold;font-size: small;" for="" class="form-label">
                                    Şu Anki
                                    Şifre
                                </label>
                                <input type="text" class="form-control" name="" id="" aria-describedby="helpId"
                                       placeholder="">
                            </div>
                        </div>


                        <div class="row">
                            <div class="mb-3">
                                <label style="font-weight: bold;font-size: small;" for="" class="form-label">
                                    Yeni
                                    Şifre
                                </label>
                                <input type="text" class="form-control" name="" id="" aria-describedby="helpId"
                                       placeholder="">
                                <small id="helpId" class="form-text text-muted">
                                    Şifreniz <b>en az 7 karakter </b>ve
                                    <b>en fazla 64 karakter </b>olmalı, harf ve rakam içermelidir.
                                </small>

                            </div>
                        </div>


                        <div class="row">
                            <div class="mb-3">
                                <label style="font-weight: bold;font-size: small;" for="" class="form-label">
                                    Yeni
                                    Şifre Tekrar
                                </label>
                                <input type="text" class="form-control" name="" id="" aria-describedby="helpId"
                                       placeholder="">

                            </div>
                        </div>

                        <div class="row">
                            <div class="d-grid gap-2">
                                <button style="color: darkorange;background-color: darkorange;" type="button"
                                        name="" id="" class="btn btn-primary text-light">
                                    Güncelle
                                </button>
                            </div>
                        </div>

                        <div class="row my-3">
                            <div class="container bg-secondary-subtle" style="min-height: 160px;">

                                <div class="row d-flex justify-content-between align-items-center my-4">


                                    <div class="col-10">
                                        <h6><b>İKİ ADIMLI DOĞRULAMA</b></h6>
                                    </div>
                                    <div class="col-2">
                                        <span>
                                            <div class="form-check">
                                                <input style="color: darkorange;border: 1px solid black;"
                                                       class="form-check-input" type="checkbox" value="" id="">

                                            </div>
                                        </span>
                                    </div>





                                </div>
                                <div class="row">

                                    <small>
                                        İki adımlı doğrulama yöntemini etkinleştirdiğinizde, kişisel
                                        şifrelerinize ek olarak kayıtlı cep telefonunuza gelen doğrulama koduyla
                                        oturum açarsınız.
                                </div>
                                </small>
                            </div>
                        </div>



                    </div>


                </div>

            </div>

        </div>

    </div>

</div>



    <!-- Chatbox Modal -->
    <div class="modal modal-bottom-right fade" id="chatModal" tabindex="-1" role="dialog" aria-labelledby="chatModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="chatModalLabel">Trendyol Asistan</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="chatMessages">
                 
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                    <div class="col-md-4">
                        <button class="form-control" type="button" value="+ Merhabalar" id="btn1">Merhabalar</button>

                    </div>
                    <div class="col-md-4">
                        <button class="form-control" type="button" value="+ Siparişim Ne Durumda?" id="btn2">Siparişim Ne Durumda</button>

                    </div>

                    <div class="col-md-4">
                        <button class="form-control" type="button" value="+ Teşekkür Ederim" id="btn3">Teşekkür Ederim</button>

                    </div>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>


    <script>
    var btn3 = document.getElementById("btn3");

    btn3.addEventListener("click", () => {
        document.getElementById("chatMessages").innerHTML += "</br>" + btn3.value;
        msg3();
    });

    function msg3() {
        var mesaj = document.getElementById("chatMessages");

        mesaj.innerHTML += " </br> - Rica Ederiz İyi Günler Efendim";

        mesaj.addClass("chat-message-right");

    }


        var btn2=document.getElementById("btn2");

        btn2.addEventListener("click",()=>{
        document.getElementById("chatMessages").innerHTML+="</br>"+btn2.value;
        msg2();
        });

        function msg2()
        {
                  var mesaj= document.getElementById("chatMessages");
                 var msg=document.getElementById("input").value;
        mesaj.innerHTML +="</br> + Siparişiniz";
        mesaj.innerHTML+=msg;
        
        mesaj.addClass("chat-message-right");
     
        }
   

 
        var btn=document.getElementById("btn1");

        btn.addEventListener("click",()=>{
        document.getElementById("chatMessages").innerText=btn.value;
        msg1();
        });

        function msg1()
        {
                  var mesaj= document.getElementById("chatMessages");
                 
        mesaj.innerHTML += " </br> - Merhabalar Efendim";
        
        mesaj.addClass("chat-message-right");
     
        }
    </script>
    
<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <!-- Add Bootstrap JS (jQuery is required) -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function() {
            // Listen for form submission
            $("#chatInput").on("keydown", function(event) {
                if (event.which === 13) { // Enter key
                    event.preventDefault();
                    var message = $(this).val();
                    if (message.trim() !== "") {
                        var $messageElement = $('<p>' + message + '</p>');
                        if ($("#chatMessages").children().length % 2 === 0) {
                            $messageElement.addClass("chat-message-right");
                        }
                        $("#chatMessages").prepend($messageElement);
                        $(this).val("");
                    }
                }
            });
        });
    </script>
