
@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "~/Views/Shared/_TrendyolLayout.cshtml";
}

<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
<style>
    .login {
        margin-top: 15px;
        color: darkorange;
    }
</style>
<br />
<h4 class="text-center">
    Merhaba,
</h4>
<h6 class="text-center">Trendyol’a giriş yap veya hesap oluştur, indirimleri kaçırma!</h6>
<div></div>
<div class="card container col-md-4">
    <div class="row">
        <div class="col-md-12 text-center login ">Şifremi Unuttum </div>
       
    </div>
    <div class="card-body">

        <form asp-action="ForgotPassword" method="post">
            <br />
            <h6 class="card-title">E Posta</h6>
            <span  class="text-danger"></span>
            <input name="email" class="form-control" />
            <br />
                   
            <input style="background-color:darkorange;color:wheat" type="submit" value="Giriş" class="btn btn-block w-100 btn-primary">
        </form>
        <br />

        <div class="row">

            <div class="col-md-6 ">

                <div class=" container" style="height:35px">
                    <div>
                        <div class="row">
                            <div class="col-4" style="width:30px;height:30px;background-color:royalblue;font-weight:bold">
                                <i style="color:white;" class='fa fa-facebook'></i>
                            </div>
                            <div class="col-8">
                                <span style="font-size:15px;"> Facebook</span>
                                <span style="font-size:12px;position:absolute;margin-top:18px;margin-left:-63px;" class="text-muted">ile Giriş Yap</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-6 ">

                <div class=" container" style="height:35px">
                    <div>
                        <div class="row">
                            <div class="col-4" style="width:30px;height:30px;background-color:red;font-weight:bold">

                                <i style="color:white;" class="fa-solid fa-g"></i>
                            </div>
                            <div class="col-8">
                                <span style="font-size:15px;"> Facebook</span>
                                <span style="font-size:12px;position:absolute;margin-top:18px;margin-left:-63px;" class="text-muted">ile Giriş Yap</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
