
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_TrendyolLayout.cshtml";
}

@model ResetPasswordModel

<br />
<div class="card container col-md-4">
    <div class="row">
        
        <div class="col-md-12 text-center login mt-5"style="color:darkorange">Reset Password</div>
       
    </div>
    <div class="card-body">

        <form asp-controller="Account" asp-action="ResetPassword" method="POST">
             <input type="hidden" asp-for="Token">
            <br />
            <h6 class="card-title">E Posta</h6>
            <span asp-validation-for="Email" class="text-danger"></span>
            <input asp-for="Email" class="form-control" />
            <br />
            <h6 class="card-title">Şifre</h6>
            <span asp-validation-for="Password" class="text-danger"></span>
            <input asp-for="Password" class="form-control" />
            <br />

            <br /><br />
            <input style="background-color:darkorange;color:wheat" type="submit" value="Sıfırla" class="btn btn-block w-100 btn-primary">
        </form>
        <br />

        <div class="row">

            <div class="col-md-6 ">

                <div class=" container" style="height:35px">
                    <div>
                        <div class="row">
                            <div class="col-4" style="width:30px;height:30px;background-color:royalblue;font-weight:bold">
                                <i style="color:white;" class='fa fa-facebook'></i>
                            </div>
                            <div class="col-8">
                                <span style="font-size:15px;"> Facebook</span>
                                <span style="font-size:12px;position:absolute;margin-top:18px;margin-left:-63px;" class="text-muted">ile Giriş Yap</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-6 ">

                <div class=" container" style="height:35px">
                    <div>
                        <div class="row">
                            <div class="col-4" style="width:30px;height:30px;background-color:red;font-weight:bold">

                                <i style="color:white;" class="fa-solid fa-g"></i>
                            </div>
                            <div class="col-8">
                                <span style="font-size:15px;"> Facebook</span>
                                <span style="font-size:12px;position:absolute;margin-top:18px;margin-left:-63px;" class="text-muted">ile Giriş Yap</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
