
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<style>
    .div div ul li{
        color:white;
    }
</style>

<div class="mt-0 w-100 div" style="height:400px;background-color:black">
    <div class="row">

        <div class="col-md-2"></div>
        <div class="col-md-2 ">
            <h5 style="color:white" class="mt-5">Trendyol</h5>
            <ul style="list-style-type:none">
                <li >Penti</li>
                <li>Watsons</li>
                <li>Stradivarius</li>
                <li>İstikbal</li>
                <li>İstikbal</li>
                <li>İstikbal</li>
                <br />
                <i style="color:orange;" class="fa-brands fa-cc-mastercard fa-2xl"></i>
            </ul>
        </div>
        <div  class="col-md-2">
            <h5 style="color:white" class="mt-5">About Us</h5>
            <ul style="list-style-type:none">
                <li >Penti</li>
                <li>Watsons</li>
                <li>Stradivarius</li>
                <li>İstikbal</li>
                <li>İstikbal</li>
                <li>İstikbal</li>

            </ul>

        </div>
        <div class="col-md-2 ">
            <h5 style="color:white" class="mt-5">Kampanyalar</h5>
            <ul style="list-style-type:none">
               <li >Penti</li>
                <li>Watsons</li>
                <li>Stradivarius</li>
                <li>İstikbal</li>
                <li>İstikbal</li>
                <li>İstikbal</li>



            </ul>
        </div>
        <div class="col-md-2">
            <h5 style="color:white" class="mt-5">Yardım</h5>
            <ul style="list-style-type:none">
                <li >Penti</li>
                <li>Watsons</li>
                <li>Stradivarius</li>
                <li>İstikbal</li>
                <li>İstikbal</li>
                <li>İstikbal</li>

            </ul>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
<div class="w-100" style="height:30px; background-color:dimgray">
    <span style="font-size:14px;color:white;margin-left:90px;">©2023 DSM Grup Danışmanlık İletişim ve Satış Tic.A.Ş.-Her Hakkı Saklıdır.</span>
</div>