
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="mt-3 w-100" style="height:400px;background-color:whitesmoke">
    <div class="row">

        <div class="col-md-2"></div>
        <div class="col-md-5 container">
            <h5 class="mt-5">Popüler Marka ve Mağazalar</h5>
            <ul style="list-style-type:none">
                <li>Penti</li>
                <li>Watsons</li>
                <li>Stradivarius</li>
                <li>İstikbal</li>
                <li>İstikbal</li>
                <li>İstikbal</li>
                <li>İstikbal</li>
                <li>İstikbal</li>
                <li>İstikbal</li>
                <li>İstikbal</li>
                <li>İstikbal</li>
                <li>İstikbal</li>


            </ul>
        </div>
        <div class="col-md-5">
            <h5 class="mt-5">Popüler Sayfalar</h5>
            <ul style="list-style-type:none">
                <li>Penti</li>
                <li>Watsons</li>
                <li>Stradivarius</li>
                <li>İstikbal</li>
                <li>İstikbal</li>
                <li>İstikbal</li>
                <li>İstikbal</li>
                <li>İstikbal</li>
                <li>İstikbal</li>
                <li>İstikbal</li>
                <li>İstikbal</li>
                <li>İstikbal</li>
            </ul>
        </div>
        <div class="col-md-2"></div>
    </div>

</div>